@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0px;
}

#header-container, #link-header-container {
    background-color: #00008f;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 1000;
}

#footer-container, #link-footer-container {
    background-color: #00008f;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contact, #link-contact {
    background-color: #D9D9D9;
    color: #00008f;
    width: 30%;
    margin: auto;
    border-radius: 125px;
}

#entername, #link-entername {
    text-align: center;
    margin-top: 200px;
}

#name, #link-name {
    color: white;
    background-color: #00008f;
    border: 0;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
    padding: 7px;
    border-radius: 125px;
}

::placeholder {
    text-align: center;
}

#start, #link-start {
    text-align: center;
    margin-top: 50px;
}

#join-button, #start-button {
    background-color: #D9D9D9;
    color: #00008f;
    border: 0;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
    max-width: 200px;
    padding: 7px;
    border-radius: 125px;
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

article {
    text-align: center;
    font-size: 15px;
    padding: 20px;
    
}

#about, #link-about {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    max-width: 600px;
    margin-top: 150px;
    background-color: #00008f;
    color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 143, 0.2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
    overflow-y: auto;
    max-height: 400px;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 40%;
}

#middle-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

#select-header {
    background-color: #00008f;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 90%
}

#card-container {
    background-color: #D9D9D9;
    color: #00008f;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
}

#results-header {
    background-color: #00008f;
    color: white;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 90%
}

#results-container {
    background-color: #D9D9D9;
    color: #00008f;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
}

#submit-button {
    background-color: #D9D9D9;
    color: #00008f;
    border: 0;
    justify-content: center;
    margin-top: 400px;
    width: 20%;
    max-width: 200px;
    padding: 7px;
    border-radius: 125px;
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    height: 65vh;
  }

.item {
    background-color: #1EAAFC;
    background-image: linear-gradient(130deg, #00008f 0%, #1EAAFC 85%, #3EDFD7 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #fff;
    border-radius: 4px;
    border: 6px solid #171717;
    justify-content: center;
    padding-top: 4rem;
    cursor: pointer;
  }

.item.selected {
    background-color: red; 
    color: white;
    border: 6px solid darkred; 
}